.referrals-container {
    /* color: white; */
    background-image: linear-gradient(#191846, #048ac0);
    border-style: outset;
    max-width: 500px;
    min-width: 300px;
    position: relative;
    margin: auto;
}

.introduction {
    width: fit-content;
    padding: 20px;
    position: relative;
    margin: auto;

}

.intro-title {
    color:#048ac0;
    font-size: 50px;
    font-family: "Lucida Console", "Courier New", monospace;

}
.money {
    font-size: 5rem;
    color:#e92b0c;
}

.ref-form {
    padding: 20px;
    max-width: 400px;
    min-width: 250px;
    position: relative;
    margin: auto;
}

.form-inputs {
    position: relative;
    margin: auto;
}