.referrals-container {
    /* color: white; */
    background-image: linear-gradient(#191846, #048ac0);
    border-style: outset;
    max-width: 500px;
    min-width: 300px;
    position: relative;
    margin: auto;
    padding-bottom: 5pt;
}

.introduction {
    width: fit-content;
    padding: 20px;
    position: relative;
    margin: auto;

}

.intro-title {
    color:#048ac0;
    font-size: 50px;
    font-family: "Lucida Console", "Courier New", monospace;

}
.money {
    font-weight: 600;
    font-size: 5rem;
    color:#e92b0c;
}

.ref-form {
    padding: 0px;
    max-width: 400px;
    min-width: 250px;
    position: relative;
    margin: auto;
}

.form-inputs {

    padding: 5pt;
    position: relative;
    margin: auto;
}
input {
    background: #048ac0;
    color: #fff; 
    font-weight: 600;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 1px;
    margin-bottom: 16px;
    resize: vertical;
  }

@media screen and (max-width: 800px)  {
    .form-inputs {
        width: 100%;
        position: relative;
    }
}