.form-container {
    /* color: white; */
    background-image: linear-gradient(#048ac0, #191846);
    border-style: outset;
    width: 50%;
    position: relative;
    margin: auto;
}

.form-inputs {
    width: 90%;
    position: relative;
    margin: auto;
}

